body{
    background-color: black;
    font-family: 'Roboto', sans-serif;
    color: white;
}
.img-fluid{
    var(--bs-gradient);
}

.display-4{
    margin: 32px 0px;
}

.lead{
    margin: 8px 0px;
}

.image-container{
    display: flex;
    justify-content: center;
}
.card-text{
    float: left;
    display: inline;
    color: black;
    text: center;
}
.card-body{
    color: black;
}
.card{
    padding-right: 50px;

}
.card-title{
    color: black;
}
.rounded1{
    width: 1000px;
    height: 610px;
    display: center;
    padding-left: 300px;
}
.btnbtn-info{
    padding-top: 60px;
}

.myquote {
    position: absolute;
    display: inline-block;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-style: normal;
    margin-right: auto;
    padding-block-start: none;
    margin-bottom: none;}
.copyright {
    
    color: white;
    position: absolute;
    margin-left: auto;
    margin-right: center;
    align-items: center;
    text-align: center;
    align-content: center;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    padding-bottom: 100px;
    margin-bottom: 100px;
}
.container-lg{
    background-color: black;
    color: white;
    height: 100px;
    width: auto;
    padding-top: 50px;
}
.title{
    text: center;
    display: center;
}
.card-img-top{
    width:100%;
    height: 200px;
}